/*navbar and banner styles*/

.navbar-btn{
  border: none;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  text-shadow: none;
}

.navbar-btn:hover, .navbar-btn:active {
    background-color: rgb(109, 188, 227);
  }

.navbar-header, #navbar-buttons{
  background-color: rgb(65, 132, 203);
  box-shadow: none;
}


.glyphicon-home, .icon-bar{
  color: white;
}

.jumbotron{
  background-color: rgba(142, 142, 145,0.65);
  margin-top: 50px;
  padding: 10px 10px 10px 15px;
}
.jumbotron h2{
  padding-top: 10px;
}

.logo{
  float: left;
  width: 30%;
}

.logo img{
  height: 70px;
  width: 70px;
}

.slogan{
  float: left;
  color: white;
}
.col-sm-12 h2, .col-xs-12 h2{
  margin-top: 5px;
}

/* Background image*/

#bgnd_img{
  width: 100%;
  height: 120%;
  top:0;
  left:0;
  position:fixed;
  z-index: -1;
}

/* Main container */

.container, .web-content{
  z-index: 1;
  margin: 0 0 0 0;
  width: 100%;
}

/* Tab containers*/
#main-tab, #collections, #users{
  width: 100%;
  padding: 0 0 0 3%;/*
  /*border: solid 1px rgb(194, 172, 231);
  border-radius: 7px;*/
}

/* Main tab info divs*/
.main-tab-info, .collections-tab-info{
  margin: 7px 20px 11px 0;
  padding: 5px;
  /*border: solid 1px rgb(194, 172, 231);
  border-radius: 7px;*/
  float: left;
}

.main-tab-btn{
  float: left;
  background-color: rgb(65, 132, 203);
  color: white;
  /*text-shadow: none;*/
}

.col-tab-btn{
  margin-top: 5px;
}

.main-tab-btn:hover, .main-tab-btn:active{
  background-color: rgb(109, 188, 227);
  color: black;
}

#load_facilities{
  clear: right;
}

#collectionNameInput{
  background-color: rgba(142, 142, 145,0.65);
  color: white;
  border: none;
}

#storeCollections, #loadCollections{
  margin: 1% 0 2% 3%;
  float: left;
}

#ghForm input{
  color: rgb(18, 23, 20);
}

#facilities-list, #collections-facilities-list,
#selected-collection-info, #facility-info,
#collection-list, #collection-added-facilities, #users-list,
#collection-added-users, #dialog-message{
  background-color: rgba(142, 142, 145,0.65);
  color: white;
  padding-left: 3.5%;
  padding-top: 1%;
}

#selected-collection-users{
  overflow: scroll;
}

#facilities-map{
  z-index: 2;
}

#ghForm{
  background-color: rgba(142, 142, 145,0.85);
  color: white;
  border: none;
  height: 200px;
}

@media screen and (max-width: 400px){
  #facilities-map{
    height: 350px;
    width: 93%;
  }
  #collectionNameInput{
    width: 50%;
  }
  #createCollection{
    margin-top: 2%;
  }

  #facilities-list, #collections-facilities-list,
  #selected-collection-facilities, #facility-info, #collection-list,
  #collection-added-facilities, #users-list, #collection-added-users{
    height: 180px;
    width: 93%;
    overflow: scroll;
  }
  #ghForm{
    height: 45%;
    width: 89%;
    position: fixed;
    padding: 4% 0 0 3%;
    margin: -50% 0 0 0;
    z-index: 3;
  }
  #doLoadCollections, #doStoreCollections{
    float: left;
    margin: 10% 0 0 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 700px){
  #facilities-map {
    height: 350px;
    width: 93%;
  }
  #facilities-list, #collections-facilities-list, #users-list{
    height: 200px;
    width: 44.5%;
    overflow: scroll;
  }
  #collectionNameInput{
    width: 44.5%;
  }
  #collection-added-facilities, #collection-added-users{
    height: 200px;
    width: 93%;
    overflow: scroll;
  }
  #selected-collection-facilities, #collection-list{
    height: 200px;
    width: 44.5%;
    overflow: scroll;
  }
  #facility-info{
    height: 200px;
    width: 93%;
    overflow: scroll;
  }
  #ghForm{
    height: 50%;
    width: 63%;
    position: fixed;
    padding: 4% 0 0 3%;
    margin: -22% 0 0 14%;
    z-index: 3;
  }
  #doLoadCollections, #doStoreCollections{
    float: right;
    margin: 0 6% 0 0;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px){
  #facilities-map{
    height: 350px;
    width: 93%;
  }
  #facilities-list, #collections-facilities-list, #users-list{
    height: 200px;
    width: 45.3%;
    overflow: scroll;
  }
  #selected-collection-facilities, #collection-list{
    height: 200px;
    width: 45.3%;
    overflow: scroll;
  }
  #collectionNameInput{
    width: 45.3%;
  }
  #collection-added-facilities, #collection-added-users{
    height: 200px;
    width: 93%;
    overflow: scroll;
  }
  #facility-info{
    height: 200px;
    width: 93%;
    overflow: scroll;
  }
  #ghForm{
    height: 20%;
    width: 54%;
    position: fixed;
    padding: 4% 0 0 3%;
    margin: 45% 0 0 14%;
    z-index: 3;
  }
  #doLoadCollections, #doStoreCollections{
    float: right;
    margin: 0 6% 0 0;
  }
}

@media screen and (min-width: 900px){
  #facilities-map{
    height: 480px;
    width: 54%;
  }
  #facilities-list{
    height: 300px;
    width: 41%;
    overflow: scroll;
  }
  #collections-facilities-list, #users-list{
    height: 344px;
    width: 41%;
    overflow: scroll;
  }
  #collectionNameInput{
    width: 41%;
  }
  #selected-collection-facilities, #collection-list,
  #collection-added-users, #collection-added-facilities{
    height: 163px;
    width: 41%;
    overflow: scroll;
  }
  #facility-info{
    height: 200px;
    width: 97%;
    overflow: scroll;
  }
  #ghForm{
    height: 200px;
    width: 450px;
    position: fixed;
    padding: 2.6% 0 0 3%;
    margin: 0 0 0 30%;
    z-index: 3;
  }
  #doLoadCollections, #doStoreCollections{
    float: right;
    margin: 0 6% 0 0;
  }
}

#facilities-list ul, #collections-facilities-list ul,
#collection-list ul{
  padding-left: 7px;
}

#facilities-list a, #collections-facilities-list a,
#collection-list a, #selected-collection-facilities a,
#users-list a{
  color: white;
}

#selected-collection-facilities h4, #collection-added-facilities h4,
#collection-added-users h4{
  display: inline;
  font-weight: bold;
  margin-bottom: 0.5%
}

#facilities-list a:hover, #collections-facilities-list a:hover{
  color: rgb(194, 172, 231);
}

#users-list ul, #collection-added-users ul{
  list-style: none;
  padding-left: 7px;
}

#users-list li, #collection-added-users li{
  margin: 2% 0 2% 0;
}

#users-list span, #collection-added-users span{
  margin:0 0 0 3%;
}
